* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #1F7F4C, #1B6844, #18503C, #143934);
    background-size: 400% 400%;
    animation: backgroundgradient 5s ease infinite, opacidade 3s ease;
}

@keyframes backgroundgradient {
    0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
}

@keyframes opacidade {
    0% {
        opacity: 0.0;   
    }

    100% {
        opacity: 1;
    }
}

.wrapper {
    position: absolute;
    left: 35vw;
    top: 30vh;
    width: 50vw;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.container {
    height: 25rem;
    display: flex;
    /* flex-wrap: nowrap; */
    /* justify-content: start; */
}

.card {
    width: 5.5rem;
    /* background-size: cover; */
    cursor: pointer;
    overflow: hidden;
    display: flex;
    margin: 0 1rem;
    /* align-items: flex-start; */
    border-radius: 2rem;
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);

    transition: .6s cubic-bezier(.28,-0.03,0,.99);
}

.card > .row {
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    display: flex;
    width: 5rem;
    height: 3.5rem;

    border-radius: 50%;

    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.card > .row > .description {
    display: flex;
    height: 10rem;
    width: 28.5rem;

    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #000000;
    padding-top: 5px;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

