* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    background: linear-gradient(45deg, #1b6945, #105942, #10493d, #143934);
    background-size: 400% 400%;
    animation: backgroundgradient 5s ease infinite, opacidade 2s ease;
}

@keyframes backgroundgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes opacidade {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1;
    }
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    height: 5vh;
    width: 100%;

    background-color: #10493d;
    box-shadow: 0px 0px 15px #35cd7d;
    border-bottom: 0.15rem solid #35cd7d;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Logo img {
    position: fixed;
    width: 35px;
    height: 35px;
    top: 0.8%;
    left: 49%;
    padding-bottom: 0.2rem;

    animation: AnimacaoLogo 1.5s 1s both;
}

@keyframes AnimacaoLogo {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

.Logo::after {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    height: 2rem;
    width: 15rem;

    content: attr(data-message);
    color: #35dc7f;
    text-align: center;
    padding: 5px;

    background: #10493d;
    box-shadow: 0 0 10px #35cd7d;
    border-radius: 1rem;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.Logo:hover::after {
    opacity: 1;
    visibility: visible;
}

.Navbar a {
    position: relative;
    margin-left: 4rem;
    margin-right: 4rem;

    color: #35cd7d;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;

    animation: AnimacaoNavbar 0.8s 0.8s both;
}

@keyframes AnimacaoNavbar {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

.Navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;

    transition: .2s ease;
}

.Navbar a:hover::before {
    background-color: #35dc7f;
    width: 100%;
}

.CarrosselNoticias {
    position: absolute;
    display: flex;
    left: 25%;
    top: 15%;
    
    border-radius: 1rem;
    background-color: #10493d;
    box-shadow: 0px 0px 15px #35cd7d;

    animation: Carrossel;
    animation-duration: 2s;
    animation-timing-function: ease;
}

@keyframes Carrossel {
    0% { 
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}

.CarrosselConteudo {
    border-radius: 1rem;
}

.CarrosselItem img {
    width: 50vw;
    height: 50vh;
    object-fit: cover;
}

.CarrosselTexto {
    background: rgba(16, 73, 61, 0.7);

    border: 0.2rem solid #35dc7f;
    border-radius: 0.5rem;
}

.CarrosselTexto h5,
.CarrosselTexto p {
    padding: 15px;
    color: #35dc7f;
}

.CarrosselBtnAnterior,
.CarrosselBtnProximo {
    top: calc(50%);
    width: 30px;
    height: 30px;
}

.CarrosselBtnAnterior-icon,
.CarrosselBtnProximo-icon {
    background-color: #35dc7f;
}

.Cartoes {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    top: 79%;
}

.Cartao1, .Cartao2, .Cartao3 {
    overflow: hidden;
    position: relative;

    width: 20vw;
    height: 20vh;

    box-shadow: 0px 0px 15px #35cd7d;
    border: 5px solid #10493d;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.Cartao1 {
    animation: Cartao1;
    animation-duration: 2s;
    animation-timing-function: ease;
}

.Cartao2 {
    animation: Cartao2;
    animation-duration: 2s;
    animation-timing-function: ease;
}

.Cartao3 {
    animation: Cartao3;
    animation-duration: 2s;
    animation-timing-function: ease;
}

@keyframes Cartao1 {
    0% { 
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes Cartao2 {
    0% { 
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes Cartao3 {
    0% { 
        transform: translateX(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.CartaoImg {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 30%;
}

.CartaoBody {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -100%;

    background: #105942b4;
    backdrop-filter: blur(5px);

    border-radius: 0.5rem;
    border: 5px solid #35dc7f;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    transition: 1s ease;
}

.Cartao1:hover .CartaoBody, .Cartao2:hover .CartaoBody, .Cartao3:hover .CartaoBody {
    bottom: 0;
}

.CartaoTitulo {
    color: #35dc7f;
    font-size: 2rem;
    font-weight: 600;
}

.CartaoBotao {
    color: #133b26;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    background: #35cd7d;
    box-shadow: 0 0 10px #35cd7d;

    padding: 10px;
    width: 120px;

    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.PopupContainer {
    display: none;
    position: fixed;
    top: 6%;
    right: 0.5%;

    color: #fff;
    background-color: #000;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    padding: 5px;
    max-width: 300px;
    animation: bounceInDown 1.5s ease;
}

@keyframes bounceInDown {
    0%, 20%, 50%, 80%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translateY(0);
    }

    40% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translateY(-30px);
    }

    60% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translateY(-15px);
    }
}

.PopupConteudo {
    text-align: center;
}

.PopupBtnFechar {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #555;
}