* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;

    background: linear-gradient(45deg, #1b6945, #105942, #10493d, #143934);
    background-size: 400% 400%;
    animation: backgroundgradient 5s ease infinite, opacidade 3s ease;
}

@keyframes backgroundgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes opacidade {
    0% {
        opacity: 0.0;   
    }

    100% {
        opacity: 1;
    }
}

.Cartoes {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 66vh;
}

.Cartao {
    overflow: hidden;
    position: relative;

    width: 18rem;
    height: 20rem;

    border: 5px solid #fff;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.CartaoImg {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 30%;
}

.CartaoBody {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;

    background: #105942b4;
    backdrop-filter: blur(5px);

    border-radius: 0.1rem;
    border: 5px solid #35dc7f;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 1s ease;
}

.Cartao:hover .CartaoBody {
    right: 0;
}

.CartaoTitulo {
    color: #35dc7f;
    font-size: 2rem;
    font-weight: 600;
}

.CartaoBotao {
    color: #fff;
    font-weight: 500;
    background-color: #35dc7f;

    padding: 10px 20px;
    width: 120px;

    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}