* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #143934;
}

.Navbar {
    background-color: #086e6162;
    font-family: 'Montserrat', sans-serif;
}

.NavbarTitulo {
    color: #35dc7f;
    position: relative;
    right: 88%;
    transition: color 0.3s ease;
}

.NavbarTitulo:hover {
    color: #2ca569;
}

.ModalConteudo {
    border: #257D58 10px solid;
    border-radius: 10%;
    padding: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.800000011920929);
}

.Usuario {
    background-color: #143934;
    color: #ffffff;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}

img[alt="FotoUsuário.png"] {
    width: 140px;
    height: 130px;
}

.UsuarioInfo {
    font-size: 20px;
    padding: 3px;
}

.Informacoes {
    padding: 20px;
}

.Informacoes p {
    font-size: 20px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.Informacoes hr {
    border: 2px solid #9baaaa;
    opacity: 1;
    margin-top: -20px;
    margin-bottom: 30px;
}

.Icones {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px 25px;
}

.Icones a {
    background-color: #257D58;
}

.Icones i {
    color: #35DC7F;
}

.BotaoIcone:hover {
    background-color: rgba(37, 125, 88, 0.8);
}

.Campo {
    position: absolute;
    left: 15%;
    top: 30%;
    width: 25%;
}

.Campo h3 {
    color: #36C67E;
    font-size: xx-large;
    font-weight: 500;
    position: absolute;
    left: 10%;
    top: -80px;
    width: 400px;
}

.Campo h4 {
    color: white;
    align-items: center;
    justify-content: center;
}

.Botao {
    color: white;
    background-color: #052E11;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/* .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
} */

