** {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    background: linear-gradient(45deg, #1b6945, #105942, #10493d, #143934);
    background-size: 400% 400%;
    animation: backgroundgradient 5s ease infinite;
}

@keyframes backgroundgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    height: 5vh;
    width: 100%;

    background-color: #10493d;
    box-shadow: 0px 0px 15px #35cd7d;
    border-bottom: 0.15rem solid #35cd7d;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.PaginaInicial::after {
    position: absolute;
    top: 165%;
    left: 50%;
    transform: translateX(-50%);
    height: 2rem;
    width: 15rem;

    content: attr(data-message);
    color: #35dc7f;
    font-size: 1.1rem;
    text-align: center;
    padding: 1px;

    background: #10493d;
    box-shadow: 0 0 10px #35cd7d;
    border-radius: 1rem;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.PaginaInicial:hover::after {
    opacity: 1;
    visibility: visible;
}

.Perfil::after {
    position: absolute;
    top: 165%;
    left: 50%;
    transform: translateX(-50%);
    height: 2rem;
    width: 26rem;

    content: attr(data-message);
    color: #35dc7f;
    font-size: 1.1rem;
    text-align: center;
    padding: 1px;

    background: #10493d;
    box-shadow: 0 0 10px #35cd7d;
    border-radius: 1rem;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.Perfil:hover::after {
    opacity: 1;
    visibility: visible;
}

.Logo::after {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    height: 2rem;
    width: 15rem;

    content: attr(data-message);
    color: #35dc7f;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    padding: 1px;

    background: #10493d;
    box-shadow: 0 0 10px #35cd7d;
    border-radius: 1rem;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.Logo:hover::after {
    opacity: 1;
    visibility: visible;
}

.Logo img {
    position: fixed;
    width: 35px;
    height: 35px;
    top: 0.8%;
    left: 49%;
    padding-bottom: 0.2rem;

    animation: AnimacaoLogo 1.5s 1s both;
}

@keyframes AnimacaoLogo {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

.Github::after {
    position: absolute;
    top: 165%;
    left: 50%;
    transform: translateX(-50%);
    height: 2rem;
    width: 17rem;

    content: attr(data-message);
    color: #35dc7f;
    font-size: 1.1rem;
    text-align: center;
    padding: 1px;

    background: #10493d;
    box-shadow: 0 0 10px #35cd7d;
    border-radius: 1rem;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.Github:hover::after {
    opacity: 1;
    visibility: visible;
}

.SobreNos::after {
    position: absolute;
    top: 165%;
    left: 50%;
    transform: translateX(-50%);
    height: 2rem;
    width: 22rem;

    content: attr(data-message);
    color: #35dc7f;
    font-size: 1.1rem;
    text-align: center;
    padding: 1px;

    background: #10493d;
    box-shadow: 0 0 10px #35cd7d;
    border-radius: 1rem;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.SobreNos:hover::after {
    opacity: 1;
    visibility: visible;
}

.Navbar a {
    position: relative;
    margin-left: 4rem;
    margin-right: 4rem;

    color: #35cd7d;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;

    animation: AnimacaoNavbar 0.8s 0.8s both;
}

@keyframes AnimacaoNavbar {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

.Navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;

    transition: .2s ease;
}

.Navbar a:hover::before {
    background-color: #35dc7f;
    width: 100%;
}

.Campo {
    position: absolute;
    left: 15%;
    top: 30%;
    width: 25%;
}

.Campo h3 {
    color: #36C67E;
    font-size: xx-large;
    font-weight: 500;
    position: absolute;
    left: 10%;
    top: -80px;
    width: 400px;
}

.Campo h4 {
    color: white;
    align-items: center;
    justify-content: center;
}

.Botao {
    color: white;
    background-color: #052E11;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}