body{
   background-color:#143934;
}


h5{
    color: white;
    


}
h3{
    color:#778c6d;
    top: -15%;
    position: absolute;
    
}
.caixa{
   width: 40%;
   position: absolute;
   left: 3%;
   top: 30%;
    
}
.imagem{
    height: auto;
    width: 250px;
    height: 250px;
    /* object-fit: none; */
    object-position: 45% 150;
}

.letreiro{
    position: absolute;
    left: 9%;
   top: 6%;
   
}
.qrcode{
    height: auto;
    width: 50%;
    position: absolute;
    /* object-fit: none; */
    
    right: 0%;
}

button{
    
    background-color: #33907d;
    border-radius: 10px;
    transition: ease;
    width: 20%;
    color: white;
   
}
.innerText{
    color: white;
}